.Technology {
  background: rgba(252, 254, 255, 0.735);
  background-blend-mode: lighten;
  border-radius: 0.2rem;
  width: 96%;
  margin: 0.5rem auto;
  padding: 1rem; }
  .Technology .tech__desc {
    color: #ebf7fc;
    background: rgba(13, 19, 21, 0.79);
    box-shadow: inset 0rem -0.1rem 0.5rem 0.1rem #fff;
    border-radius: 0.5rem;
    letter-spacing: 2px;
    font-size: 90%;
    padding: 0.8rem;
    max-height: 10rem;
    overflow: scroll; }
  .Technology .tech__title {
    color: #354850;
    font-size: 120%;
    margin: 0.5rem 0;
    text-align: center; }

.tech__techTags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 50%;
  list-style: none;
  padding: 0;
  width: 100%; }
  .tech__techTags .tech__tag {
    background: rgba(222, 138, 35, 0.653);
    border-radius: 3rem;
    margin: 0.2rem;
    padding: 0.5rem; }
