.Technology {
  background: rgba(252, 254, 255, 0.735);
  background-blend-mode: lighten;
  border-radius: 1rem 0 1rem 0;
  width: 96%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0.5rem auto; }
  .Technology .tech__title {
    color: #462905;
    font-family: Gruppo, Arial, sans-serif;
    font-size: 120%;
    font-weight: 600;
    text-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.495);
    text-align: center;
    margin: 0 auto;
    width: 90%; }
  .Technology .tech__desc {
    color: #ebf7fc;
    background: rgba(87, 85, 106, 0.639);
    box-shadow: inset 0rem -0.01rem 0.2rem 0.1rem #fff;
    border-radius: 1rem 0 1rem 0;
    font-size: 90%;
    letter-spacing: 1px;
    overflow: scroll;
    padding: 0.8rem;
    height: 100%;
    max-height: 10rem; }

.tech__body {
  padding: 0 1rem;
  margin: 0; }
  .tech__body p {
    font-family: Gruppo;
    font-size: 110%;
    font-weight: 600;
    margin: 0.2rem 0; }

.tech__techTags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 50%;
  list-style: none;
  padding: 0;
  width: 100%; }
  .tech__techTags .tech__tag {
    background: rgba(222, 138, 35, 0.653);
    border-radius: 3rem;
    box-shadow: 0 0.1rem 0.5rem 0.01rem #b6b6b6;
    margin: 0.2rem;
    padding: 0.5rem; }

.hide {
  display: none;
  border-top: 0.1rem solid #000;
  height: 0; }
