.Technology {
  background: rgba(252, 254, 255, 0.735);
  background-blend-mode: lighten;
  border-radius: 0.2rem;
  width: 96%;
  margin: 0.5rem auto;
  padding: 1rem;
  .tech__desc {
    color: rgb(235, 247, 252);
    background: rgba(146, 173, 184, 0.351);
    border: 0.05rem dotted rgba(125, 174, 233, 0.749);
    box-shadow: inset 0rem -0.1rem 0.5rem 0.1rem #fff;
    border-radius: 0.5rem;
    letter-spacing: 2px;
    font-size: 90%;
    padding: 0.8rem;
    max-height: 10rem;
    overflow: scroll;
  }
  .tech__title {
    color: rgb(53, 72, 80);
    font-size: 120%;
    margin: 0.5rem 0;
    text-align: center;
  }
}

.tech__techTags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 50%;
  list-style: none;
  padding: 0;
  width: 100%;
  .tech__tag {
    background: rgba(222, 138, 35, 0.653);
    border-radius: 3rem;
    margin: 0.2rem;
    padding: 0.5rem;
  }
}