.PlanetContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  margin: 2rem 0;
  width: 100%;
}

.planet__info {
  width: 70%;
  margin: 1rem auto;
  h4 {
    margin: 1rem 0 0.5rem 0;
    font-size: 140%;
    text-align: center;
  }
}