.Destination {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.865);
  background: #1d150b80;
  border-radius: 0.5rem 0 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 8rem;
  min-width: 100%;
  margin: 0.2rem auto;
  padding: 0.5rem; }
  .Destination .planet__icon {
    background-repeat: repeat-x;
    background-size: 210%;
    background-position: center;
    border-radius: 100%;
    box-shadow: inset 0rem 0rem 0.5rem 0.01rem #fff;
    overflow: hidden;
    height: 7rem;
    width: 7rem;
    -webkit-animation: slide 10s linear infinite;
    animation: slide 10s linear infinite;
    transform: rotate(-8deg); }
  .Destination .destination__info {
    margin: 0 auto; }
    .Destination .destination__info h4 {
      border: 0.05rem solid rgba(255, 255, 255, 0.66);
      border-radius: 0.2rem;
      font-size: 100%;
      width: 8rem;
      margin: 0 auto;
      padding: 0.2rem;
      text-align: center; }
    .Destination .destination__info p {
      font-size: 65%;
      margin: 0.2rem 0;
      padding: 0.5rem; }

.Destination:hover {
  background: rgba(255, 255, 255, 0.187);
  background-blend-mode: lighten; }

@-webkit-keyframes slide {
  from {
    background-position: -7rem; }
  to {
    background-position: 6.78rem; } }

@keyframes slide {
  from {
    background-position: -7rem; }
  to {
    background-position: 6.78rem; } }
