.preLaunchNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  width: 100%;
}

.launch,
.news {
  align-self: flex-start;
  display: block;
  background: lightblue;
  color: rgb(255, 255, 255); 
  border-radius: 0 2rem 2rem 0;
  box-shadow: 
    0.6rem 0.2rem 1rem 0.01rem rgba(55, 29, 9, 0.824),
    inset -0.2rem 0.02rem 0.6rem 0.05rem rgba(255, 255, 255, 0.336);
  text-align: right;
  position: relative;
  height: 5rem;
  width: 96%;
  padding: 6rem 1rem 1rem 1rem;
  margin: 0.2rem 0;
  p {
    color: white;
    font-family: Gtek;
    letter-spacing: 1px;
    font-size: 190%;
    text-shadow: 0rem 0.3rem 0.6rem rgb(8, 33, 72);
    position: absolute;
    top: 55%;
    left: 78%;
    transform: translate(-70%, -50%);
  }
}

.launch:hover, 
.news:hover {
  background-color: rgba(255, 255, 255, 0.084);
  background-blend-mode: lighten;
}

.launch {
  background: url('/images/shuttle/shuttle_midflight_stylized_2.png') no-repeat center;
  background-size: 100%;
}

.news {
  background: url('/images/news/news_nebula.png') no-repeat center;
  background-size: 108%;
}

