.preLaunchNav {
  display: flex;
  flex-direction: column;
  top: 0;
  position: absolute;
  margin: 25% 0 0 0;
  text-align: right;
  width: 100%; }

.launch,
.news {
  color: white;
  display: block;
  background: lightblue;
  padding: 6rem 1rem 1rem 1rem;
  position: relative;
  margin: 0.2rem auto;
  font-size: 160%;
  text-decoration: none;
  height: 10rem;
  width: 100%; }
  .launch p,
  .news p {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-70%, -50%); }

.launch:hover,
.news:hover {
  background-color: rgba(255, 255, 255, 0.084);
  background-blend-mode: lighten; }

.launch {
  background: url("/images/shuttle/shuttle_midflight_stylized_2.png") no-repeat center;
  background-size: cover; }

.news {
  background: url("/images/news/news_nebula.png") no-repeat center;
  background-size: cover; }
