.Encounter {
  cursor: pointer;
  padding: 1rem;
  height: 1000px;
}

.encounter__img {
  opacity: 0;
  border: 0.4rem outset rgba(224, 246, 255, 0.988);
  border-radius: 1rem;
  box-shadow: inset 0rem  0rem 1rem 0.4rem rgba(255, 255, 255, 0.386);
  background-size: cover;
  margin: 0rem auto;
  z-index: 999;
  transform: scale(0.2);
  transition: all 1s linear;
}

.encounter__title {
  color: white;
  background: rgba(0, 0, 0, 0.297);
  box-shadow: 0rem 0rem 1rem 0.5rem rgba(105, 120, 128, 0.365);
  border-radius: 0.25rem;
  font-size: 90%;
  text-align: center;
  overflow: scroll;
  padding: 0.8rem;
  margin: 0.5rem 0 0 0;
}

.encounter__desc {
  color: white;
  background: rgba(0, 0, 0, 0.297);
  font-size: 90%;
  line-height: 30px;
  text-align: justify;
  overflow: scroll;
  padding: 1rem 0;
  height: calc(40vh - 2.5rem);
  margin: 0.8rem 0 0 0;
}

.continue__btn {
  color: white;
  cursor: pointer;
  background: rgba(174, 180, 182, 0.639);
  border: none;
  box-shadow: 0rem 0rem 0.9rem 0.01rem rgb(218, 215, 215);
  font-size: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
}
.continue__btn:hover {
  color: rgba(214, 219, 223, 0.639);
  background: rgba(86, 89, 91, 0.639);
  box-shadow: 0rem 0rem 0.9rem 0.01rem rgb(86, 89, 91);
}