.news__article {
  border-bottom: 0.1rem solid rgba(120, 126, 126, 0.79);
  background: rgba(230, 230, 230, 0.632);
  background-blend-mode: lighten;
  border-radius: 0.2rem;
  height: auto;
  padding-bottom: 0.5rem;
  margin: 0.5rem auto;
  .news__img {
    background-position: center;
    background-size: cover;
    height: 10rem;
  }
  .news__info {
    padding: 0;
    margin: 0 auto;
  }
  .news__title {
    color: #fff;
    background: rgba(31, 37, 50, 0.612);
    background-blend-mode: lighten;
    box-shadow: 
      inset 0 0.2rem 0.5rem 0.04rem rgb(48, 48, 48),
      inset 0 -0.2rem 0.5rem 0.04rem rgb(48, 48, 48);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 0.5rem 1rem;
    margin: 0;
    text-align: justify;
  }
  .news__desc,
  .news__auth {
    color: rgb(74, 63, 54);
    margin: 0.5rem 0;
    padding: 0 1rem;
  }
}
