.Footer {
  display: flex;
  background: rgba(211, 212, 213, 0.283);
  border-top: 0.05rem solid rgba(227, 245, 249, 0.769);
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  right: 0;
  padding: 1rem;
  width: 100%;
  font-size: 80%;
  .footer__back {
    background: rgba(255, 254, 253, 0.536);
    cursor: pointer;
    font-size: 100%;
    border-radius: 0 0.2rem 0.2rem 0;
  }
}

.profile__btn {
  color: rgb(14, 75, 140);
  background: rgb(233, 143, 32);
  border-radius: 3rem;
  padding: 0.4rem;
  text-decoration: none;
}