.Shuttle {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  margin: 1rem auto;
  width: 100%; }
  .Shuttle .continue_btn {
    color: white;
    background: rgba(174, 180, 182, 0.639);
    border-radius: 5rem;
    box-shadow: 0rem 0rem 0.9rem 0.01rem #dad7d7, inset 0rem -0.01rem 0.5rem 0.01rem rgba(118, 117, 117, 0.79);
    font-family: Trench;
    font-size: 200%;
    font-weight: 600;
    width: 96%;
    margin: 1rem auto;
    padding: 0.5rem; }
  .Shuttle .continue_btn:hover {
    color: rgba(214, 219, 223, 0.639);
    background: rgba(86, 89, 91, 0.639);
    box-shadow: 0rem 0rem 0.9rem 0.01rem #56595b; }

.shuttle__launch_img {
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.1rem inset #f7fdff;
  border-radius: 0.2rem;
  width: 100%;
  height: 14rem;
  margin: 0 auto; }

.shuttle__info {
  color: white;
  background: rgba(0, 0, 0, 0.42);
  border-radius: 0.2rem;
  width: 100%;
  padding: 1rem;
  margin: 0; }
  .shuttle__info h4 {
    margin: 0;
    font-family: Gruppo; }
  .shuttle__info p {
    font-family: Trench;
    letter-spacing: 1px; }
